﻿@using TestImageTree.Models
@model TestImageTree.Models.HomeModel
@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    @using (Html.BeginForm("StoryBoard", "Home", FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal", role = "form"}))
    {
        @Html.AntiForgeryToken()
        <h4>TestWork of creating storyboard</h4>
        <hr/>
        @Html.ValidationSummary()
        <div class="form-group">
            @Html.LabelFor(m => m.Width, new {@class = "col-md-2 control-label"})
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.Width, new {@class = "form-control"})
                @Html.ValidationMessageFor(r => r.Width)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Level, new {@class = "col-md-2 control-label"})
            <div class="col-md-6">
                <ul>
                    @switch (Model.Level)
                    {
                        case TestLevel.Easy:
                            <li>@Html.RadioButtonFor(m => m.Level, TestLevel.Easy, new {id = TestLevel.Easy, @Checked = "true",}) @TestLevel.Easy</li>
                            <li>@Html.RadioButtonFor(m => m.Level, TestLevel.Medium, new {id = TestLevel.Medium, onchange = "this.form.submit();"}) @TestLevel.Medium</li>
                            <li>@Html.RadioButtonFor(m => m.Level, TestLevel.Hard, new {id = TestLevel.Hard, onchange = "this.form.submit();"}) @TestLevel.Hard</li>
                            break;
                        case TestLevel.Medium:
                            <li>@Html.RadioButtonFor(m => m.Level, TestLevel.Easy, new {id = TestLevel.Easy, onchange = "this.form.submit();"}) @TestLevel.Easy</li>
                            <li>@Html.RadioButtonFor(m => m.Level, TestLevel.Medium, new {id = TestLevel.Medium, @Checked = "true"}) @TestLevel.Medium</li>
                            <li>@Html.RadioButtonFor(m => m.Level, TestLevel.Hard, new {id = TestLevel.Hard, onchange = "this.form.submit();"}) @TestLevel.Hard</li>
                            break;
                        case TestLevel.Hard:
                            <li>@Html.RadioButtonFor(m => m.Level, TestLevel.Easy, new {id = TestLevel.Easy, onchange = "this.form.submit();"}) @TestLevel.Easy</li>
                            <li>@Html.RadioButtonFor(m => m.Level, TestLevel.Medium, new {id = TestLevel.Medium, onchange = "this.form.submit();"}) @TestLevel.Medium</li>
                            <li>@Html.RadioButtonFor(m => m.Level, TestLevel.Hard, new {id = TestLevel.Hard, @Checked = "true"}) @TestLevel.Hard</li>
                            break;
                    }
                </ul>
            </div>
        </div>
        if (Model.Level == TestLevel.Hard || Model.Level == TestLevel.Medium)
        {
            <div class="form-group">
                <h5>@Model.Level part of test</h5>
                <div class="form-group">
                    <label>Preview</label>
                    <div class="col-md-offset-2">
                        <img src="@Url.Content(string.Format("~/Content/Storyboards/prev.{0}.jpg", Model.Level))" />
                    </div>
                </div>
            </div>
        }
        if (Model.Level == TestLevel.Hard)
        {
            <div class="form-group">
                <div class="form-group">
                    @Html.LabelFor(m => m.PaddingTop, "Отступ сверху", new {@class = "col-md-2 control-label"})
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.PaddingTop, new {@class = "form-control"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.PaddingRight, new {@class = "col-md-2 control-label"})
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.PaddingRight, new {@class = "form-control"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.PaddingBottom, new {@class = "col-md-2 control-label"})
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.PaddingBottom, new {@class = "form-control"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.PaddingLeft, new {@class = "col-md-2 control-label"})
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.PaddingLeft, new {@class = "form-control"})
                    </div>
                </div>
            </div>
        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-6">
                <input type="file" name="Image" multiple="multiple" class="open glyphicon-open-file"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-6">
                <input type="submit" class="btn btn-default" value="Create"/>
            </div>
        </div>
    }
</div>

