﻿@model TestImageTree.Models.Frame
@{
    ViewBag.Title = "StoryBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>StoryBoard</h2>
<div>
    <img src="@Url.Content(@Model.StoryboardPath)"/>
</div>
